body{
    background-image: url(imagenes/fotos.jpeg);
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Helvetica, sans-serif;
    font-size: 12pt;
    color: white;
    padding: 2rem;
}
.camping{
    font-weight: bold;
    font-size: 14pt;
}
.menu, .registrarse{
    display: flex;
    justify-content: space-between;
    border: 2rem;
    list-style: none;
}




splay: flex;
    list-style: none;
}
 