* { box-sizing: border-box; }
html, body { width: 100%; height: 100%; margin: 0; padding: 0 }

body{
    background-image: url(imagenes/montañita.jfif);

    position: absolute;
    font-family:Helvetica, sans-serif;
    color: white;
}

.encabezado{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

ul{
    display: flex;
    list-style: none;
}

li{
    box-sizing: border-box;
    margin: 5px;
    padding: 5px;
    font-size: 10pt;
}

.camping{
    font-weight: bold;
    font-size: 12pt;
    
}

.contenedor{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 6rem;
   box-sizing: border-box;
   border: 0px;
   line-height: 10px;
}

.titulo{
    font-size: 50pt;
    font-weight: bold;
}

.subtitulo{
    font-size: 13pt;
    font-weight: normal;
}
   