body{
    position: absolute;
    background-image: url(fotos.jpeg);
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
ul{
    display: flex;
    list-style: none;
}
  vVaw0qMPXUwqTkDDhAEVlKJKjK&ust=1605137880941000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCMiH9OKS-ewCFQAAAAAdAAAAABAE);
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
ul{
    display: flex;
    list-style: none;
}
 